.bidform{
    border: #020c53 solid 5px;
    border-radius: 15px;
}
.regularbtn{
    background-color: #020c53;
    padding: 10px 20px 10px 20px;
    text-align: center;
}
.sidebartext{
    color: #020c53;
}
.addform{
    border: solid #020c53 4px;
    border-radius: 10px;
}